  <div>
      <h2> Links: </h2>
      <ul>
        <li>
          <h2><a target="_blank" href="http://www.siman.com/costarica/giftregistry/view/index/id/49692/club/1">
            Lista de bodas
          </a></h2>
        </li>
        <li>
          <h2><a target="_blank" href="https://www.google.com/maps/place/The+Shabby+Chic+House,+Casa+de+Eventos+Boutique./@10.0222211,-84.0557117,15z/data=!4m5!3m4!1s0x0:0x3123453498bf52ba!8m2!3d10.0222211!4d-84.0557117?sa=X&ved=0ahUKEwiC4q3Ln_bVAhUGYiYKHdFzCmYQ_BIIiAEwEg">
            Dirección
          </a></h2>
        </li>
      </ul>

  </div>
